*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;

}
.form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 1px solid grey;
    border-radius: 10px;
}
.form form input{
    margin-top: 2rem;
    width: 70%;
    padding-left: .5rem;
    font-size: 1rem;
    outline: none;
    border-radius: 8px;
}
.form button{
    margin-top: 2rem;
    width: 30%;
    height: 1.5rem;
    outline: none;
    border: none;
    border-radius: 8px;
}
.link{
    display: flex;
    /* justify-content: center; */
    padding-bottom: 2rem;
    flex-direction: row;
    margin-top: .8rem;
    width: 58%;
}
.link .signup{
    /* align-self: ; */
    margin-left: auto;

}
a{
    color: darkblue;
    width: 20px;
    

}

/* .content .par{
    padding-left: 20px;
    scroll-padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px; */
/* } */